.title {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;

    h1 {
        font-size: 72px;
        margin: 0;
        letter-spacing: -6px;
    }

    p {
        font-size: 20px;
        margin: 0;
    }

    a {
        padding: 6px 20px;
        border-radius: 30px;
        border: 1.5px solid transparent;
        justify-content: center;
        align-items: center;
        background: #111;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px;
        display: inline-block;
    }
}

.bannerContainer {
    position: relative;

    img {
        position: absolute;
        top: 43px;
        right: 50%;
        transform: rotate(45deg);
    }

    h2 {
        font-size: 32px;
        display: block;
        position: absolute;
        right: 28%;
        font-weight: 400;
        letter-spacing: -2px;
        top: 56%;
        z-index: 2;
    }
}

.banner {
    display: block;
    height: 411px;
    width: 100%;
    background-color: #f7f7f7;
    background-image: url(/logo.svg);
    background-repeat: no-repeat;
    background-position-x: 87vw;
    background-position-y: 148%;
    background-size: auto;
    color: #000C1D;
    margin-bottom: 20px;
    overflow: hidden;
}

.noPadding {
    padding: 0;
    margin-top: 40px !important;
}