.figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 0px;
    width: 100%;
}


.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.model {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.category {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #757575;
}

.price {
    font-size: 16px;
}