  .toolbar {
    background-color: #aa22aa;
  }

  .card.highlight-card {
    background-color: #aa22aa;
  }

  a,
  a:visited,
  a:hover {
    color: #aa22aa;
  }

  a:hover {
    color: #791179;
  }